# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=assetflow
DB_USER=root
DB_PASSWORD="bhaveshbg27:)"
DB_ROOT_PASSWORD="bhaveshbg27:)"

# Server Configuration
PORT=5000

# Authentication
JWT_SECRET=fsdjlfsjfoisdfosfdsoif09909i90jfodsjfosffd9sf0s
JWT_EXPIRY=1d
